<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143381722870-fl74raok2iu46urk1vtmejqth30i8fm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143381722870-fl74raok2iu46urk1vtmejqth30i8fm5</string>
	<key>API_KEY</key>
	<string>AIzaSyCkDPAgN9XoFgMTgmIfxEwv9DVtf0wQwE4</string>
	<key>GCM_SENDER_ID</key>
	<string>143381722870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golfplayed.react.ios.beta</string>
	<key>PROJECT_ID</key>
	<string>golfplayed-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>golfplayed-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:143381722870:ios:bca6d9bedfdc2e6b</string>
	<key>DATABASE_URL</key>
	<string>https://golfplayed-beta.firebaseio.com</string>
</dict>
</plist>
